footer{

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 0 0px 50px 50px;
    width: 400px;   
    margin: auto;
    box-shadow: #1d1d1d 0px 0px 20px;
}
.pa{
    text-align: center;
}
